/.gem_rbs_collection
/.bundle
/.env*
/coverage
/log/*
/tmp/*
!/log/.keep
/sig/generated/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/public/assets
/config/*.key
